/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License") +  you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
#activities {
	height: 20px;
	overflow: hidden;
}
#activities .ui-resizable-handle {
	width: 100%;
}
#activities .ui-widget-header {
	white-space: nowrap;
}
#activities .control.block .ui-icon {
	text-align: center;
}
#activities .control.block .label {
	display: inline-block;
	padding-left: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#activities .ctrl {
	padding-left: 20px;
	padding-right: 20px;
}
#activities .area {
	height: 319px;
	overflow-y: auto;
}
.activity.item {
	position: relative;
	padding: 5px;
	margin-bottom: 3px
}
.activity.item .ui-icon {
	border-width: 1px;
	border-style: solid;
	margin-left: 2px;
}
.ui-icon.crosshair {
	background-image: url(images/crosshair.png);
}
