/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License") +  you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
#chatPanel {
	position: fixed;
	z-index: 2000;
	bottom: 0px;
	right: 10px;
	height: 20px;
}
#chatPanel #chatPopup {
	height: 20px;
}
#chat .btn-toolbar {
	margin-top: 2px;
	margin-bottom: 0;
	margin-left: 5px;
}
#chat #chatTabs.ui-tabs {
	padding: 0;
}
#chat #chatTabs.ui-tabs .ui-tabs-nav {
	padding: 0;
}
#chat #chatTabs.ui-tabs .ui-tabs-nav li {
	margin: 0;
}
#chat #chatTabs.ui-tabs .ui-tabs-nav li .ui-icon.ui-icon-close {
	float: left;
}
#chat #chatTabs.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 2px .5em;
	float: left;
}
#chatPopup .control.block .ui-icon {
	text-align: center;
}
#chatPopup .control.block .label {
	display: inline-block;
	width: 70px;
	padding-left: 5px;
}
#chat .messageArea .time {
	margin-right: 5px;
	font-style: italic;
	font-size: smaller;
}
#chat .messageArea .user-row {
	background-size: 38px, 38px;
	background-repeat: no-repeat;
	padding-left: 40px;
	min-height: 40px;
}
#chat .messageArea .user-row .icons {
	display: none;
}
#chat .messageArea .user-row:hover .icons {
	display: block;
}
#chat .messageArea .from {
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
}
#chat .messageArea .date-row {
	text-align: center;
	font-style: italic;
	padding: 5px 0;
}
.ui-tabs .ui-tabs-panel.messageArea {
	height: 165px;
	overflow-y: auto;
	padding: 0 5px;
}
#chatMessage {
	margin-right: 22px;
}
#chatMessage .wysiwyg-editor {
	min-height: 70px;
	max-height: 70px;
}
.chat-tool-icon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px;
	width: 20px;
	height: 20px;
	display: inline-block;
}
.list.chat-tool-icon {
	background-image: url(images/list.png);
}
.sound.chat-tool-icon {
	background-image: url(images/sound.png);
}
.sound-mute.chat-tool-icon {
	background-image: url(images/sound_mute.png);
}
.save.chat-tool-icon {
	background-image: url(images/file_save_as.png);
}
#chat #hyperlink {
	background-image: url(images/link.png);
}
#chat #fontStyle span {
	background-image: url(images/settings.png);
}
.send-ctrl.chat-tool-icon {
	background-image: url(images/key_ctrl.png);
	background-position: 0px 0px;
	background-size: 25px;
}
#chat .chat-btn {
	display: inline-block;
	float: right;
}
#chat .chat-btn:first-of-type {
	margin-right: 10px;
}
#chat .send {
	width: 16px;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	height: 60px;
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;
}
/* room mode */
#chatPanel.room {
	width: 20px;
	right: 0px;
	top: 34px;
}
#chatPanel.room #chat form {
	position: absolute;
	bottom: 0;
}
#chatPanel.room.closed #chatPopup .control.block .label {
	transform: rotate(90deg);
	transform-origin: -15% 68% 0;
}
#chatPanel.room.closed #chatPopup #chat {
	display: none;
}
ul.dropdown-menu.btns-only, ul.dropdown-menu.btns-only li {
	max-width: 62px;
	min-width: 62px;
}
ul.dropdown-menu.btns-only li .chat-btn {
	float: none !important;
}
