/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License") +  you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
#menu .ui-menu:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#menu .ui-menu .ui-menu-item {
	display: inline-block;
	margin: 0;
	line-height: 1.2em !important;
	padding: .2em 2.1em .2em 1em;
	font-weight: normal;
}
#menu .ui-menu .ui-menu-item, #menu .ui-menu .ui-menu-item .ui-state-active {
	font-weight: bold;
}
#menu .ui-menu .ui-menu-item.sub {
	width: 280px;
	display: block;
}
#menu .ui-menu .ui-menu-item.top {
	border: 0 !important;
}
#menu .ui-menu.ui-widget.ui-widget-content.ui-menu-icons {
	border: 0;
}
#menu .ui-menu {
	z-index: 10000000; /*need to be in sync with .room.menu.right*/
}
.recording .ui-menu .ui-menu-item {
	display: block;
}
.room.menu .ui-menu .ui-menu-item {
	padding-left: 5px;
	padding-right: 0;
}
.room.menu .top.room.menu.exit {
	padding-left: 0;
}
.room.menu.right {
	position: absolute;
	top: 0;
	margin-right: 5px;
	right: 0;
	display: inline-block;
	z-index: 10000001;
}
.room.menu.right .room {
	float: right;
	padding-top: 5px;
	padding-right: 5px;
}
.room.menu.right .room.name {
	font-weight: bold;
}
.room.menu.right .room.name.screen {
	color: red;
}
.room.menu.right .room.demo {
}
.room.menu.right .icon {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: 5px 5px;
	background-size: 22px;
	float: right;
	padding: 0;
}
.room.menu.right .icon.share {
	background-image: url(images/monitor_go.png);
}
.room.menu.right .icon.shared {
	background-image: url(images/shared.png);
}
.room.menu.right .icon .profile {
	margin-top: 3px;
}
.room.menu.right .icon .profile img {
	width: 28px;
}
