/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License") +  you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.ui-menu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.ui-menu .ui-menu-item {
    display: inline-block;
    margin: 0;
	line-height: 1.2em !important;
    padding: .4em 2.1em .4em 1em;
	font-weight: normal;
}
.ui-menu .ui-menu-item.sub {
	width: 250px;
	font-weight: bold;
}
.ui-menu .ui-menu-item.top {
	border: 0 !important;
}
.ui-menu.ui-widget.ui-widget-content.ui-menu-icons {
	border: 0;
}
#menu.ui-menu, #roomMenu.ui-menu {
	max-height: 30px;
	min-height: 30px;
}
