/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License") +  you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.hash-panel-main.app {
	width: 100%;
	height: calc(100% - 50px);
}
.nettest {
	padding: 20px;
	height: calc(100% - 100px);
}
.nettest .test-container {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 100px;
}
.nettest .test-container button .value {
	display: inline-block;
	width: 80px;
	height: 40px;
}
.nettest .test-container button.not-started
	, .nettest .test-container button.started
{
	background-color: #cccccc;
}
.nettest .test-container button.not-started .value
	, .nettest .test-container button.started .value
{
	background-size: 40px;
	background-repeat: no-repeat;
	background-position-x: 20px;
}
.nettest .test-container button.not-started .value {
	background-image: url(images/notrun.png);
}
.nettest .test-container button.started .value {
	background-image: url(images/ajax-loader.gif);
}
.nettest .test-container button.complete {
	background-color: lawngreen;
}
.nettest .nettest-dialog {
	padding: 0;
}
.nettest .nettest-dialog .test.ui-widget-content {
	padding: 0 35px;
	overflow: hidden;
}
.nettest .output {
	border-radius: 10px;
	border: 1px solid #cccccc;
	min-height: calc(100% - 50px);
	max-height: calc(100% - 50px);
	margin-top: 20px;
	overflow: auto;
}
.nettest output {
}
.nettest output .module {
	color: #6b0df7;
	padding: 0 5px;
}
.nettest output .delim {
	color: green;
}
.nettest output .value {
	color: green;
	padding: 0 5px;
}
