/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License") +  you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.room.wb.area {
	position: absolute;
}
.room.wb.area.ui-state-hover {
	border: 0;
}
.room.wb.area.ui-state-hover .wb-area {
	visibility: hidden;
	height: 1px !important;
}
.room.wb.area .wb-drop-area {
	display: none;
}
.room.wb.area.ui-state-hover .wb-drop-area {
	background-image: url(images/drop.png);
	display: block;
	background-repeat: no-repeat;
	height: inherit;
	background-position: center;
}
.room.wb.area .tabs.ui-tabs, .room.wb.area .ui-tabs-panel {
	padding: 0;
	background-color:transparent;
}
.room.wb.area .ui-tabs-panel {
	position: relative;
}
.room.wb.area .tools {
	position: relative;
	display: inline-block;
	border: 0;
}
.room.wb.area .tools .bumper {
	float: left;
	display: inline-block;
	background: repeating-linear-gradient(-45deg, transparent, transparent 3px, gray 3px, gray 5px);
}
.room.wb.area .tools.vertical .bumper {
	width: 35px;
	height: 9px;
}
.room.wb.area .tools.horisontal .bumper {
	width: 9px;
	height: 35px;
}
.room.wb.area .tools.vertical {
	width: 35px;
	height: 394px;
}
.room.wb.area .tools.readonly.vertical {
	width: 35px;
	height: 43px;
}
.room.wb.area .tools.horisontal {
	width: 394px;
	height: 35px;
}
.room.wb.area .tools.readonly.horisontal {
	width: 44px;
	height: 35px;
}
.room.wb.area .tools .om-icon.big {
	float: left;
	vertical-align: top;
	width: 35px;
	height: 35px;
	background-size: 27px;
	margin: 0;
	background-position: 4px !important;
}
.room.wb.area .tools .dropdown-menu .om-icon.big {
	float: none;
}
.room.wb.area .tools .om-icon.big.active {
	background-color: whitesmoke;
}
.room.wb.area .tools .dropdown-menu .om-icon.big.active {
	border: 1px solid #6b6565;
}
.room.wb.area .tools .om-icon.big.paint {
	background-image: url(images/paintbrush.png);
}
.room.wb.area .tools .om-icon.big.pointer {
	background-image: url(images/pointer.png);
}
.room.wb.area .tools .om-icon.big.apointer {
	background-image: url(images/wbpointer.png);
}
.room.wb.area .tools .om-icon.big.line {
	background-image: url(images/line.png);
}
.room.wb.area .tools .om-icon.big.uline {
	background-image: url(images/uline.png);
}
.room.wb.area .tools .om-icon.big.rect {
	background-image: url(images/rectangle.png);
}
.room.wb.area .tools .om-icon.big.ellipse {
	background-image: url(images/ellipse.png);
}
.room.wb.area .tools .om-icon.big.text {
	background-image: url(images/font.png);
}
.room.wb.area .tools .om-icon.big.arrow {
	background-image: url(images/arrow.png);
}
.room.wb.area .tools .om-icon.big.eraser {
	background-image: url(images/clear-icon.png);
}
.room.wb.area .tools .om-icon.big.clear-all {
	background-image: url(images/cancel.png);
}
.room.wb.area .tools .om-icon.big.clear-slide {
	background-image: url(images/page_delete.png);
}
.room.wb.area .tools .om-icon.big.save {
	background-image: url(images/file_save_as.png);
}
.room.wb.area .tools .om-icon.big.undo {
	background-image: url(images/arrow_undo.png);
}
.room.wb.area .tools .om-icon.big.math {
	background-image: url(images/math.png);
}
.room.wb.area .tools .om-icon.big.textbox {
	background-image: url(images/textbox.png);
}
.room.wb.area .om-icon.big.next {
	background-image: url(images/next.png);
}
.room.wb.area .om-icon.big.prev {
	background-image: url(images/prev.png);
}
.wb-settings, .wb-formula {
	position: absolute;
	z-index: 95;
}
.room.wb.area .tools.vertical .dropdown-toggle {
	width: 35px;
	height: 28px;
}
.room.wb.area .tools.horisontal .dropdown-toggle {
	width: 35px;
	height: 23px;
}
.room.wb.area .tools .dropdown-toggle {
	position: relative;
	display: inline-block;
}
.room.wb.area .tools.horisontal .dropdown-toggle .caret {
	left: -1px;
	bottom: -12px;
}
.room.wb.area .tools.vertical .dropdown-toggle .caret {
	left: -1px;
	bottom: -7px;
}
.room.wb.area .tools .dropdown-toggle .caret {
	position: absolute;
	border-top: 8px solid transparent;
	border-left: 8px solid blue;
	border-right: 8px solid transparent;
}
.wb-settings, .wb-settings .tab.props, .wb-formula {
	display: inline-block;
	width: 310px;
}
.wb-settings .ui-dialog-titlebar-close, .wb-formula .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 5px;
	width: 20px;
	padding: 1px;
	height: 20px;
}
.wb-settings .header, .wb-formula .header {
	padding: 5px;
}
.wb-settings .header .ui-dialog-title, .wb-formula .header .ui-dialog-title {
	padding-left: 10px;
}
.wb-settings .tab.props {
	padding: 5px 10px;
}
.wb-settings .tab.props .prop-row {
	padding-top: 5px;
	margin: 0;
	font-size: small;
}
.wb-settings .tab.props .block {
	display: inline;
	padding-left: 5px;
}
.wb-settings .tab.props .block.lbl {
	width: 1em;
}
.wb-settings .tab.props .block.but {
	width: 2.5em;
}
.wb-settings .tab.props .block.input {
	width: 40px;
}
.wb-settings .tab.props .block.input input {
	width: 30px;
}
.wb-settings .tab.props .block.input input[type=number] {
	width: 40px;
}
.wb-settings .tab.props .block.input input[type=color] {
	padding: 0;
}
.wb-settings .tab.props .block.input input[type=color]:disabled {
	opacity:.3;
}
.wb-settings .tab.props .block.but button {
	width: 2.5em;
}
.wb-settings .tab.props  .wb-prop-i.selected {
	font-style: italic;
}
.wb-settings .tab.props .wb-prop-b.selected {
	font-weight: bold;
}
.wb-settings .tab.props .block.but .wb-prop-i
	, .wb-settings .tab.props .block.but .wb-prop-b
{
	width: 5px;
}
.wb-formula .text-container {
	margin: 0 5px 5px 0;
	padding: 5px;
}
.wb-formula .status {
	min-height: 16px;
}
.wb-formula textarea {
	width: 100%;
	height: 100%;
	resize: none;
}
.dropdown-menu.om-left {
	right: 0;
	left: auto !important;
}
.wb-tabbar {
	padding-left: 70px !important;
	padding-right: 35px !important;
	min-height: 40px;
}
.wb-tabbar .scroll-container {
	overflow: hidden;
}
.wb-tabbar .scroll-container .scrollable, .wb-tabbar .scroll-container .scrollable li {
	display: flex;
}
.wb-tabbar .add.disabled, .wb-tabbar .prev.disabled, .wb-tabbar .next.disabled {
	opacity: .3;
}
.wb-tabbar .add, .wb-tabbar .prev, .wb-tabbar .next {
	position: absolute;
	top: 3px;
}
.wb-tabbar .add {
	left: 2px;
}
.wb-tabbar .prev {
	left: 35px;
}
.wb-tabbar .next {
	right: 2px;
}
.wb-tabbar li button {
	width: 20px;
	height: 20px;
	padding: 0;
}
.wb-area .ui-tabs-panel .scroll-container {
	overflow: auto;
}
.wb-area .ui-tabs-panel .scroll-container .canvas-container {
	margin-top: 5px;
	margin-left: 5px;
	border: 1px solid #888888;
	box-shadow: 5px 5px 5px #888888;
}
.wb-area .wb-zoom {
	display: inline-block;
	padding: 1px 10px;
	border-radius: 2px;
	position: absolute;
	cursor: default;
}
.wb-area .wb-zoom, .wb-area .wb-zoom .btn-group button {
	background-color: grey;
	line-height: 12px;
	font-size: 12px;
}
.wb-area .wb-zoom .block {
	display: inline-block;
}
.wb-area .wb-zoom button {
	width: 28px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 5px 0px;
}
.wb-area .wb-zoom input {
	width: 50px
}
.wb-area .wb-zoom button.down {
	background-image: url(images/page_down.png);
}
.wb-area .wb-zoom button.up {
	background-image: url(images/page_up.png);
}
