/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License") +  you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.adminPanel {
	min-width: 1070px;
}
/*
################################
 Column layout admin section
################################
 */
.adminPanelColumnTable {
	display: inline-block;
	vertical-align: top;
}
.adminListTable {
	max-width: 518px;
	min-width: 518px;
}
.adminListTable tr:nth-child(odd), .adminListTableSmall tr:nth-child(odd), .striped-table .striped-row:nth-child(odd) {
	opacity: .8;
}
.adminListTable tr.deleted {
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, /* gap */ #cccccc 6px, /* overall width incluing gap */ #cccccc 6px);
}
.adminListTable tr:hover, .adminListTableSmall tr:hover, .room-row:hover {
	/*SHOULD BE MANUALLY IN SYNC WITH THEME .ui-state-hover */
	border: 1px solid #74b2e2;
	background-color: #e4f1fb;
	font-weight: normal;
	color: #0070a3;
}
.adminListTable th.two_column_layout_column1 {
	width: 136px;
}
.adminListTable th.two_column_layout_column2 {
	width: 354px;
}
.adminListTable td.two_column_layout_column1 {
	width: 136px;
}
.adminListTable td.two_column_layout_column2 {
	width: 354px;
}
.adminListTable td div.two_column_layout_divcolumn1 {
	word-wrap: break-word;
	width: 136px;
}
.adminListTable td div.two_column_layout_divcolumn2 {
	word-wrap: break-word;
	width: 354px;
}
.adminListTable th.three_column_layout_column1 {
	width: 96px;
}
.adminListTable th.three_column_layout_column2 {
	width: 150px;
}
.adminListTable th.three_column_layout_column3 {
	width: 244px;
}
.rooms .adminListTable th.three_column_layout_column1 {
	width: 46px;
}
.rooms .adminListTable th.three_column_layout_column2 {
	width: 370px;
}
.rooms .adminListTable th.three_column_layout_column3 {
	width: 74px;
}
.adminListTableSmall th.three_column_layout_column1 {
	width: 50px;
}
.adminListTableSmall th.three_column_layout_column2 {
	width: 50px;
}
.adminListTableSmall th.three_column_layout_column3 {
	width: 218px;
}
.adminListTableSmall th.three_column_layout_column4 {
	width: 150px;
}
.adminListTableSmall th.three_column_layout_column5 {
	width: 50px;
}
.adminListTable td.three_column_layout_column1 {
	width: 96px;
}
.adminListTable td.three_column_layout_column2 {
	width: 150px;
}
.adminListTable td.three_column_layout_column3 {
	width: 244px;
}
.adminListTableSmall td.three_column_layout_column1 {
	width: 50px;
}
.adminListTableSmall td.three_column_layout_column2 {
	width: 50px;
}
.adminListTableSmall td.three_column_layout_column3 {
	width: 218px;
}
.adminListTableSmall td.three_column_layout_column4 {
	width: 150px;
}
.adminListTableSmall td.three_column_layout_column5 {
	width: 50px;
}
.adminListTable td div.three_column_layout_divcolumn1 {
	word-wrap: break-word;
	width: 96px;
}
.adminListTable td div.three_column_layout_divcolumn2 {
	word-wrap: break-word;
	width: 150px;
}
.adminListTable td div.three_column_layout_divcolumn3 {
	word-wrap: break-word;
	width: 244px;
}
.rooms .adminListTable td div.three_column_layout_divcolumn1 {
	word-wrap: break-word;
	width: 44px;
}
.rooms .adminListTable td div.three_column_layout_divcolumn2 {
	word-wrap: break-word;
	width: 382px;
}
.rooms .adminListTable td div.three_column_layout_divcolumn3 {
	word-wrap: break-word;
	width: 74px;
}
table.adminListTableSmall td div.three_column_layout_divcolumn1 {
	width: 50px;
}
table.adminListTableSmall td div.three_column_layout_divcolumn2 {
	width: 50px;
}
table.adminListTableSmall td div.three_column_layout_divcolumn3 {
	width: 218px;
}
table.adminListTableSmall td div.three_column_layout_divcolumn4 {
	width: 150px;
}
table.adminListTableSmall td div.three_column_layout_divcolumn5 {
	width: 50px;
}

table.adminListTable th.four_column_layout_column1 {
	width: 96px;
}

table.adminListTable th.four_column_layout_column2 {
	width: 130px;
}

table.adminListTable th.four_column_layout_column3 {
	width: 132px;
}

table.adminListTable th.four_column_layout_column4 {
	width: 132px;
}

table.adminListTable td.four_column_layout_column1 {
	width: 96px;
}

table.adminListTable td.four_column_layout_column2 {
	width: 130px;
}

table.adminListTable td.four_column_layout_column3 {
	width: 132px;
}

table.adminListTable td.four_column_layout_column4 {
	width: 132px;
}

table.adminListTable td div.four_column_layout_divcolumn1 {
	word-wrap: break-word;
	width: 96px;
}

table.adminListTable td div.four_column_layout_divcolumn2 {
	word-wrap: break-word;
	width: 130px;
}

table.adminListTable td div.four_column_layout_divcolumn3 {
	word-wrap: break-word;
	width: 132px;
}

table.adminListTable td div.four_column_layout_divcolumn4 {
	word-wrap: break-word;
	width: 132px;
}
table.adminListTable .one_sixth {
	width: 16.67%;
}
.adminPanelColumnForm {
	display: inline-block;
	vertical-align: top;
	margin-top: 2px;
}

.adminPanelColumnForm div.scrollcontent {
	vertical-align: top;
	height: 500px;
	overflow-y: scroll;
}

.adminForm {
}
.adminForm .btn {
	width: 280px;
}
.adminForm .input, .adminForm input, .adminForm input.formcheckbox
,.adminForm textarea, .adminForm select, .adminForm label
 {
	display: block;
	float: left;
	font-size: 14px;
	padding: 0px 0px;
	margin: 2px 2px;
}
.adminForm .input {
	border: solid 1px #aacfe4;
	width: 280px;
	min-height: 20px;
	white-space: normal; /* IE */
	white-space: initial;
}
.adminForm input {
	border: solid 1px #aacfe4;
	width: 280px;
	height: 20px;
}
.adminForm input[type=checkbox], .adminForm input[type=radio] {
	width: auto;
}
.adminForm input.formcheckbox {
	border: none;
	width: 20px;
	height: 20px;
}

.adminForm fieldset {
	margin-top: 4px;
	padding: 4px;
}

.adminForm legend {
	padding: 0.2em 0.5em;
	margin: 0px 10px;
	font-style: italic;
	text-align: right;
}

.adminForm textarea {
	border: solid 1px #aacfe4;
	width: 280px;
	height: 60px;
}

.adminForm div.formelement {
	display: block;
	clear: both;
	max-width: 540px;
	white-space: nowrap;
}

.adminForm select {
	height: 20px;
	border: solid 1px #aacfe4;
	width: 282px;
}

.adminForm label {
	font-weight: bold;
	text-align: right;
	width: 180px;
	white-space: normal;
}
.adminForm .group.logo .profile img {
	height: 16px;
	width: auto;
}
.adminBackupForm div.formelement {
	display: block;
	clear: both;
	max-width: 1240px;
}
.adminFormsFeedbackPanel {
	position: fixed;
	left:550px;
	width: 480px;
	bottom: 16px;
	z-index:999;
}
.adminForm .newItem {
	padding-left: 25px;
	background-image: url(images/new.png);
	background-repeat: no-repeat;
	background-position: 5px;
}
/* generated using https://proto.io/freebies/onoff/ */
.onoffswitch {
	position: relative;
	width: 50px;
	display: inline-block;
	margin-left:  2px;
}
.onoffswitch-checkbox {
	display: none !important;
	float: none !important;
	margin: 0 !important;
}
.onoffswitch-label {
	display: block !important;
	float: none !important;
	margin: 0 !important;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 0px;
	width: auto !important;
}
.onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner .before, .onoffswitch-inner .after {
	display: block;
	float: left;
	width: 50%;
	height: 20px;
	padding: 0;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner .before {
	content: " ";
	padding-left: 5px;
	background-color: #14da33;
}
.onoffswitch-inner .after {
	content: " ";
	padding-right: 5px;
	background-color: #ef0808;
	text-align: right;
}
.onoffswitch-switch {
	display: block;
	width: 19px;
	margin: 0.5px;
	background: #A1A1A1;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 26px;
	border: 2px solid #999999;
	border-radius: 0px;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
	right: 0px;
	background-color: #A1A1A1;
}
