/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License") +  you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
#header {
	padding-left: 0 !important; /* IE */
	padding-left: initial !important;
	padding-right: 150px;
	background-position: right center;
}
#topLinks {
	right: auto !important; /* IE */
	right: initial !important;
	left: 10px;
}
#topLinks span {
	border-right: none !important;
	border-left: 1px solid black;
}
#topLinks span:last-child {
	border-left: none;
}
#busy-indicator {
	right: auto !important; /* IE */
	right: initial !important;
	left: 0 !important;
}
.ui-tabs .ui-tabs-nav li {
	float: right !important;
}
.info-text {
	background-position: right top !important;
	padding-left: 0 !important; /* IE */
	padding-left: initial !important;
	padding-right: 20px;
}
.start_step1, .start_step2, .start_step3, .start_step4 {
	padding-left: 0 !important; /* IE */
	padding-left: initial !important;
	padding-right: 30px;
	background-position: right top !important;
}
.start_step2 {
	margin-left: 0 !important; /* IE */
	margin-left: initial !important;
	margin-right: 20px !important;
}
.start_step3 {
	margin-left: 0 !important; /* IE */
	margin-left: initial !important;
	margin-right: 40px !important;
}
.start_step4 {
	margin-left: 0 !important; /* IE */
	margin-left: initial !important;
	margin-right: 60px !important;
}
form .input {
	float: right !important;
}
#searchUsersTable th, .fht-table th {
	text-align: right !important;
}
.ui-dialog .ui-dialog-title {
	float: right !important;
}
.ui-dialog .ui-dialog-titlebar-close {
	right: auto !important; /* IE */
	right: initial !important;
	left: .3em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: left !important;
}
.room.menu.right {
	right: auto !important; /* IE */
	right: initial !important;
	left: 0;
}
.room.menu.right .icon, .room.menu.right .room.name {
	float: left !important;
}
#activities {
	right: 10px !important;
	left: auto !important; /* IE */
	left: initial !important;
}
#activities .control.block .label, #chatPopup .control.block .label {
	padding-left: 0 !important; /* IE */
	padding-left: initial !important;
	padding-right: 20px !important;
}
.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
	float: right !important;
}
#chatPanel {
	right: auto !important; /* IE */
	right: initial !important;
	left: 10px;
}
#chatPanel.room {
	right: auto !important; /* IE */
	right: initial !important;
	left: 0px;
}
#chat .chat-btn {
	float: left !important;
}
#chat .chat-btn:first-of-type {
	margin-right: 0 !important; /* IE */
	margin-right: initial !important;
}
#chat .chat-btn:last-of-type {
	margin-left: 10px !important;
}
#chatMessage {
	margin-right: 0 !important; /* IE */
	margin-right: initial !important;
	margin-left: 22px;
}
#chat .send {
	right: auto !important; /* IE */
	right: initial !important;
	left: 0;
}
#chat .messageArea .user-row {
	padding-left: 0 !important; /* IE */
	padding-left: initial !important;
	padding-right: 40px !important;
}
.room.sidebar .tab.om-icon.big {
	padding: 0em 2.5em 0 1em !important;
}
@media screen and (max-width: 1280px) {
	.room.holder .room.sidebar .tab.om-icon.big {
		padding-left: 0 !important;
	}
}
.om-icon.big {
	background-position: right 1px top 1px !important;
}
.room.sidebar .user.list .user {
	background-position: right 2px top 2px !important;
}
.room.sidebar .user.list .user.name {
	margin-left: 0px 0px 0px 20px !important;
	padding: 0px 44px 0px 0px !important;
}
.room.sidebar .user.list .user .ui-icon.audio-activity {
	right: auto !important; /* IE */
	right: initial !important;
	left: 3px !important;
}

/**** TODO need to be moved to wicket-jquery-ui **************/
span.css-emoticon.un-transformed-emoticon, span.css-emoticon.animated-emoticon:hover {
	transform: rotate(0deg) !important;
}
span.css-emoticon {
	transform: rotate(-90deg) !important;
}
.chat.dropdown-menu {
	left: auto !important; /* IE */
	left: initial !important;
	right: -50px !important;
	float: right !important;
}
.adminForm label, .adminForm input, .adminForm select, .adminForm textarea {
	float: right !important;
}
