/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License") +  you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.room.sidebar #busy-indicator {
	margin: 8px;
}
.room.holder {
	width: 100%;
}
.room.box {
	height: 100%;
}
.ui-icon.room.menu.exit {
	background-image: url(images/exit_button.png);
	background-repeat: no-repeat;
	background-size: 16px 16px;
	margin-left: 5px;
}
.ui-icon.status-user {
	background-image: url(images/status-user.png);
}
.ui-icon.status-wb {
	background-image: url(images/status-wb.png);
}
.ui-icon.status-mod {
	background-image: url(images/status-mod.png);
}
.room.menu .ui-menu .ui-menu-item {
	padding-left: 5px;
	padding-right: 0;
}
.room.menu .top.room.menu.exit {
	padding-left: 0;
}
.room.menu.right {
	position: absolute;
	top: 0px;
	margin-right: 5px;
	right: 0px;
	display: inline-block;
}
.room.menu.right .room {
	float: right;
	padding-top: 5px;
	padding-right: 5px;
}
.room.menu.right .room.name {
	font-weight: bold;
}
.room.menu.right .room.name.screen {
	color: red;
}
.room.menu.right .room.demo {
}
.room.menu.right .icon {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: 5px 5px;
	background-size: 22px;
	float: right;
	padding: 0;
}
.room.menu.right .icon.share {
	background-image: url(images/monitor_go.png);
}
.room.menu.right .icon .profile {
	margin-top: 3px;
}
.room.menu.right .icon .profile img {
	width: 28px;
}
.room.sidebar.left {
	min-width: 200px;
	width: 315px;
	position: absolute;
}
.room.wb.area {
	position: absolute;
}
.room.wb.area.ui-state-hover {
	border: 0;
}
.room.wb.area.ui-state-hover .wb-area {
	visibility: hidden;
	height: 1px !important;
}
.room.wb.area .wb-drop-area {
	display: none;
}
.room.wb.area.ui-state-hover .wb-drop-area {
	background-image: url(images/drop.png);
	display: block;
	background-repeat: no-repeat;
	height: inherit;
	background-position: center;
}
.room.wb.area .tabs.ui-tabs, .room.wb.area .ui-tabs-panel {
	padding: 0;
	background-color:transparent;
}
.room.wb.area .ui-tabs-panel {
	position: relative;
}
.room.wb.area .tools {
	position: relative;
	display: inline-block;
	border: 0;
}
.room.wb.area .tools .bumper {
	float: left;
	display: inline-block;
	background: repeating-linear-gradient(-45deg, transparent, transparent 3px, gray 3px, gray 5px);
}
.room.wb.area .tools.vertical .bumper {
	width: 38px;
	height: 20px;
}
.room.wb.area .tools.horisontal .bumper {
	width: 20px;
	height: 38px;
}
.room.wb.area .tools.vertical {
	width: 38px;
	height: 420px;
}
.room.wb.area .tools.horisontal {
	width: 420px;
	height: 38px;
}
.room.wb.area .tools .om-icon.big {
	float: left;
	vertical-align: top;
}
.room.wb.area .tools .om-icon.big.active {
	background-color: whitesmoke;
}
.room.wb.area .tools .om-icon.big.paint {
	background-image: url(images/paintbrush.png);
}
.room.wb.area .tools .om-icon.big.pointer {
	background-image: url(images/pointer.png);
}
.room.wb.area .tools .om-icon.big.apointer {
	background-image: url(images/wbpointer.png);
}
.room.wb.area .tools .om-icon.big.line {
	background-image: url(images/line.png);
}
.room.wb.area .tools .om-icon.big.uline {
	background-image: url(images/uline.png);
}
.room.wb.area .tools .om-icon.big.rect {
	background-image: url(images/rectangle.png);
}
.room.wb.area .tools .om-icon.big.ellipse {
	background-image: url(images/ellipse.png);
}
.room.wb.area .tools .om-icon.big.text {
	background-image: url(images/font.png);
}
.room.wb.area .tools .om-icon.big.arrow {
	background-image: url(images/arrow.png);
}
.room.wb.area .om-icon.big.next {
	background-image: url(images/next.png);
}
.room.wb.area .om-icon.big.prev {
	background-image: url(images/prev.png);
}
.room.sidebar.left .ui-tabs .ui-tabs-panel {
	padding: 0;
}
.room.sidebar.left .user.header {
	height: 45px;
	padding-left: 5px;
}
.room.sidebar.left .user.header .ui-icon {
	margin-top: 5px;
	margin-left: 5px;
	width: 32px;
	height: 32px;
}
.room.sidebar.left .user.list {
	overflow-y: auto;
}
.room.sidebar.left .user.list .user {
	height: 40px;
	padding-left: 5px;
	padding-top: 5px;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
}
.room.sidebar.left .user.list .user .name {
	line-height: 18px;
	height: 18px;
	padding: 0;
	padding-left: 44px;
	overflow: hidden;
}
.room.sidebar.left .user.list .user .actions {
	position: relative;
	height: 18px;
	padding: 0;
	padding-left: 44px;
	visibility: hidden;
}
.room.sidebar.left .user.list .user:hover .user.actions {
	visibility: visible;
}
.room.sidebar.left .user.list .user .user.actions .ui-icon {
	margin-right: 2px;
	margin-top: 0;
}
.room.sidebar.left .user.list .user .ui-icon {
	background-size: 16px;
}
.room.sidebar.left .user.list .user .ui-icon.big {
	background-size: 32px;
}
.audio-activity.ui-icon {
	opacity: 0.2;
	background-image: url(images/speaking.png);
}
.typing-activity.ui-icon {
	display: none;
	width: 30px;
	background-image: url(images/typing.gif);
}
.typing-activity.ui-icon.typing {
	display: inline-block;
}
.private-chat.ui-icon {
	background-image: url(images/page_edit.png);
}
.audio-activity.ui-icon.speaking, .ui-icon.granted {
	opacity: 1;
}
.right.moderator.ui-icon {
	background-image: url(images/user_add.png);
}
.room.menu.right .icon.ask {
	background-image: url(images/hand.png);
}
.right.moderator.ui-icon.granted {
	background-image: url(images/user_delete.png);
}
.right.wb.ui-icon {
	background-image: url(images/pencil_add.png);
}
.right.wb.ui-icon.granted {
	background-image: url(images/pencil_delete.png);
}
.right.screen-share.ui-icon {
	background-image: url(images/monitor_add.png);
}
.right.screen-share.ui-icon.granted {
	background-image: url(images/monitor_delete.png);
}
.right.remote-control.ui-icon {
	background-image: url(images/mouse_add.png);
}
.right.remote-control.ui-icon.granted {
	background-image: url(images/mouse_delete.png);
}
.right.audio.ui-icon {
	background-image: url(images/microphone_add.png);
}
.right.audio.ui-icon.granted {
	background-image: url(images/microphone_delete.png);
}
.right.camera.ui-icon {
	background-image: url(images/webcam_add.png);
}
.right.camera.ui-icon.granted {
	background-image: url(images/webcam_delete.png);
}
.exclsv-audio.ui-icon {
	background-image: url(images/microphone_exclusive.png);
}
.kick.ui-icon {
	background-image: url(images/cancel_icon.png);
	background-size: 16px;
}
.restart.ui-icon {
	background-image: url(images/arrow_refresh_small.png);
}
.settings.ui-icon, .settings.om-icon {
	background-image: url(images/settings.png);
}
.activity.cam.ui-icon {
	background-image: url(images/webcam_enable.png);
}
.activity.cam.enabled.ui-icon {
	background-image: url(images/webcam_disable.png);
}
.activity.mic.ui-icon {
	background-image: url(images/microphone_enable.png);
}
.ui-icon.disabled, .om-icon.disabled {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	pointer-events: none;
}
.activity.mic.enabled.ui-icon {
	background-image: url(images/microphone_disable.png);
}
.room.sidebar.left .user.list .user .user.actions .ui-icon.bumper
	, .room.sidebar.left .user.header .ui-icon.bumper {
	padding-right: 5px;
}
.room.sidebar.left .tabs, .room.sidebar.left .tabs #utab, .room.sidebar.left .tabs #ftab {
	padding: 0;
}
.room.sidebar.left .user.list .user.current {
	font-weight: bold;
	background-color: #00FF00;
}
.ui-dialog.video, .ui-dialog.video .ui-dialog-titlebar, .ui-dialog.video .video.ui-dialog-content {
	padding: 0;
	overflow: hidden;
}
.input .select2-container {
	max-height: 100px;
	overflow-y: auto;
}
.sip .button-row {
	text-align: center;
	margin: 5px;
}
.sip .button-row input.sip-number {
	width: 130px;
}
.sip .button-row #sip-dialer-btn-erase {
	margin-left: 5px;
}
.sip .button-row #sip-dialer-btn-erase .ui-button-text {
	padding: .1em .7em;
	font-weight: bolder;
}
.room.sidebar.left .tab.om-icon.big {
	padding: 0em 1em 0 2.5em;
	line-height: 30px;
	width: auto;
	max-width: 80px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.room.sidebar.left .tab.om-icon.big.user {
	background-image: url(images/group.png);
}
.room.sidebar.left .tab.om-icon.big.file {
	background-image: url(images/folder_explore.png);
}
/**************************/
.wb-settings {
	position: absolute;
}
.wb-settings, .wb-settings .tab.props {
	display: inline-block;
	width: 310px;
}
.wb-settings .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 5px;
	width: 20px;
	padding: 1px;
	height: 20px;
}
.wb-settings .header {
	padding: 5px;
}
.wb-settings .header .ui-dialog-title {
	padding-left: 10px;
}
.wb-settings .tab.props {
	padding: 5px 10px;
}
.wb-settings .tab.props .prop-row {
	padding-top: 5px;
	margin: 0;
	font-size: small;
}
.wb-settings .tab.props .block {
	display: inline;
	padding-left: 5px;
}
.wb-settings .tab.props .block.lbl {
	width: 1em;
}
.wb-settings .tab.props .block.but {
	width: 2.5em;
}
.wb-settings .tab.props .block.input {
	width: 40px;
}
.wb-settings .tab.props .block.input input {
	width: 30px;
}
.wb-settings .tab.props .block.input input[type=number] {
	width: 40px;
}
.wb-settings .tab.props .block.input input[type=color] {
	padding: 0;
}
.wb-settings .tab.props .block.input input[type=color]:disabled {
	opacity:.3;
}
.wb-settings .tab.props .block.but button {
	width: 2.5em;
}
.wb-settings .tab.props  .wb-prop-i.selected {
	font-style: italic;
}
.wb-settings .tab.props .wb-prop-b.selected {
	font-weight: bold;
}
.dropdown-menu.om-left {
	right: 0;
	left: auto !important;
}
.wb-tabbar {
	padding-left: 70px !important;
	padding-right: 35px !important;
}
.wb-tabbar .scroll-container {
	overflow: hidden;
}
.wb-tabbar .scroll-container .scrollable, .wb-tabbar .scroll-container .scrollable li {
	display: flex;
}
.wb-tabbar .add.disabled, .wb-tabbar .prev.disabled, .wb-tabbar .next.disabled {
	opacity: .3;
}
.wb-tabbar .add, .wb-tabbar .prev, .wb-tabbar .next {
	position: absolute;
	top: 3px;
}
.wb-tabbar .add {
	left: 2px;
}
.wb-tabbar .prev {
	left: 35px;
}
.wb-tabbar .next {
	right: 2px;
}
.wb-tabbar li button {
	width: 20px;
	height: 20px;
	padding: 0;
}
