# Eclipse
.classpath
.project
.settings

# IntellyJ
.idea
*.iml

# VSCode
.vscode

# Maven
target

# OM
openmeetings-server/red5-server
openmeetings-server/web-server

# OSX files
.DS_Store

node_modules
package-lock.json
*.log

.checkstyle

