## OpenMeetings
## author swagner
## 10.04.2007
## revised H.Kuze(minamotonoason) 2008.Apr.2
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='de' lang='de'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
</head>
<body>
<h1>Openmeetings - Installation</h1>
<p>Necessary steps which should have already been done:</p>
<ol>
<li>Install and configure a database
<li>Edit <b>persistence.xml</b> to fit your database authentification values.<br/>
persistence.xml can be found in <b>&#36;RED5-HOME/webapps/$APP_ROOT/WEB-INF/classes/META-INF/</b>.<br/>
You need to alter:
<pre>
	&lt;property
		name="openjpa.ConnectionProperties"
		value="DriverClassName=com.mysql.jdbc.Driver
				, Url=jdbc:mysql://<i>ip_or_name_of_your_server</i>:3306/<i>db_instance_name</i>
				, .....
				, Username=<i>your_user_name_here</i>
				, Password=<i>your_password_here</i>"/&gt;
</pre>
you should <b>restart red5</b> after you did change database - connection values<br/>
<li>Install openoffice-service running on port 8100 in headless mode (<A HREF="http://code.google.com/p/openmeetings/wiki/OpenOfficeConverter">OpenOfficeConverter</A>)<BR/>
<li>Install imagemagick + ghostscript +swftools and make it availible in your Classpath <BR/>
	<UL>
	<LI>Linux distros: Imagemagick can be installed with your package system (apt-get,yast,..)</LI>
	<LI>MacOSX: Imagemagick can be installed from the <A HREF="http://www.imagemagick.org" TARGET="_BLANK">imagemagick projectpage<A> or using fink + apt-get</LI>
	<LI>Windows: Follow the instructions on the <A HREF="http://www.imagemagick.org" TARGET="_BLANK">imagemagick projectpage<A> </LI>
	</UL>

</ol>

<BR/>
If this steps have been done you can follow with step 1 of installation:<BR/><BR/>
<h1><A HREF="?command=step1">Continue with STEP 1</A></h1>
<br/><br/><br/>
<b> <span style="font-size:1.4em">If you have further questions or need support in installation or hosting:</span></b><br/><br/>

<b> <span style="font-size:1.4em">Commercial-Support:</span></b><br/><br/>

<span style="font-size:1.3em"><b>By phone</b></span><br/>
<span style="font-size:1.3em">++49 721 467 27327</span><br/>
<span style="font-size:1.3em"><b>By email</b></span><br/>
<span style="font-size:1.3em"><a href="mailto:service@openmeetings.de">service@openmeetings.de</a></span> <br/>
<br/><br/>
<b><span style="font-size:1.4em">Community-Support:</span></b><br/><br/>
<span style="font-size:1.3em"><a href="https://groups.google.com/forum/#!forum/openmeetings-user" target="_blank">User-Forums</a></span> <br/>
<span style="font-size:1.3em"><a href="https://groups.google.com/forum/#!forum/openmeetings-dev" target="_blank">Developer-Forums</a></span><br/>


</body>
</html>
