## OpenMeetings
## author swagner
## 11.05.2007
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
</head>
<body>
<H1>$APP_NAME - Installation Complete!</h1>
<h2><a href="/$APP_ROOT/">Enter the Application</a></h2>
<br/>
<br/>
If your Red5-Server runs on a different Port or on a different domain<br/>
<a href="config.xml">alter the config values of the client</a>
<br/><br/><br/>
<b> <span style="font-size:1.4em">If you have further questions or need support in installation or hosting:</span></b><br/><br/>

<b> <span style="font-size:1.4em">Commercial-Support:</span></b><br/><br/>

<span style="font-size:1.3em"><b>By phone</b></span><br/>
<span style="font-size:1.3em">++49 721 467 27327</span><br/>
<span style="font-size:1.3em"><b>By email</b></span><br/>
<span style="font-size:1.3em"><a href="mailto:service@openmeetings.de">service@openmeetings.de</a></span> <br/>
<br/><br/>
<b><span style="font-size:1.4em">Community-Support:</span></b><br/><br/>
<span style="font-size:1.3em"><a href="https://groups.google.com/forum/#!forum/openmeetings-user" target="_blank">User-Forums</a></span> <br/>
<span style="font-size:1.3em"><a href="https://groups.google.com/forum/#!forum/openmeetings-dev" target="_blank">Developer-Forums</a></span><br/>

</body>
</html>
