## OpenMeetings
## author swagner
## 05.04.2007
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='de' lang='de'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1' />
</head>
<body>
<b>$labelid506</b><br />
<br />
<br />
<b>$labelid507</b>
<br />
$labelid508 $username
<br />
$labelid509 $userpass
<br />
$labelid510 $mail 
<br />
<br />
$labelid667 
<br />
<A HREF="$verification_url">$labelid668</A>
<br/>
$verification_url
<br />
$labelid511
<br/>
</body>
</html>
