<?xml version="1.0" encoding="utf-8"?>
<!-- Web Start Deployment Template $webAppRootKey/ is root context for webapp-->
<jnlp spec="1.0+" codebase="$codebase"> 
	<information> 
		<title>ScreenViewer Client Application</title> 
		<vendor>Openmeetings</vendor> 
		<homepage>http://code.google.com/p/openmeetings/</homepage>
		<icon href="icon.jpg" />
		<icon kind="splash" href="splashicon.jpg" />
		<description>ScreenViewer Client Application</description> 
		<description kind="short">A File to grab a screen and send it to a Server</description> 
		<offline-allowed/> 
	</information>
	<security> 
	    <all-permissions/>
	</security>	
	<resources> 
		<j2se version="1.4+"/> 
        <jar href="openmeetings-client.jar"/>
        <jar href="mina-core-2.0.0-M6.jar"/> 
        <jar href="commons-collections-3.1.jar"/> 
        <jar href="commons-logging-api.jar"/> 
        <jar href="commons-logging.jar"/> 
        <jar href="kunststoff.jar"/>
        <jar href="logback-classic-0.9.10-SNAPSHOT.jar"/>
        <jar href="logback-core-0.9.10-SNAPSHOT.jar"/>
        <jar href="log4j-over-slf4j-1.5.3.jar"/>
        <jar href="slf4j-api-1.5.3.jar"/>
        <jar href="log4j-1.2.6.jar"/>
        <jar href="jta.jar"/> 
    </resources> 
    <application-desc main-class="org.openmeetings.client.gui.ClientViewerScreen">
    	<argument>$rtmphostlocal</argument> 
    	<argument>$PORT</argument> 
    	<argument>$SID</argument> 
    	<argument>$ROOM</argument> 
    	<argument>$DOMAIN</argument> 
    	<argument>$PUBLIC_SID</argument> 
    	<argument>$RECORDER</argument> 
    	<argument>$LABELVIEWER</argument> 
    </application-desc> 
</jnlp> 
