<?xml version="1.0" encoding="utf-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
          
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
  
-->
<!-- Web Start Deployment Template $webAppRootKey/ is root context for webapp-->
<jnlp spec="1.0+" codebase="$codebase">  
	<information> 
		<title>ScreenViewer Client Application</title> 
		<vendor>$APP_NAME</vendor> 
		<homepage>http://code.google.com/p/openmeetings/</homepage>
		<icon href="icon.jpg" />
		<icon kind="splash" href="splashicon.jpg" />
		<description>ScreenViewer Client Application</description> 
		<description kind="short">A File to grab a screen and send it to a Server</description> 
		<offline-allowed/> 
	</information>
	<security>
	    <all-permissions/>
	</security>	
	<resources> 
		<j2se version="1.4+"/> 
        <jar href="screenviewer.jar"/> 
        <jar href="commons-collections-3.1.jar"/> 
        <jar href="commons-logging-api.jar"/> 
        <jar href="commons-logging.jar"/> 
        <jar href="quartz-all-1.6.0.jar"/> 
        <jar href="kunststoff.jar"/>
        <jar href="jta.jar"/> 
    </resources> 
    <application-desc main-class="org.openmeetings.webstart.gui.StartScreen">
    	<argument>$httpSharerURL</argument> 
    	<argument>$SID</argument> 
    	<argument>$ROOM</argument> 
    	<argument>$DOMAIN</argument> 
    	<argument>$PUBLIC_SID</argument> 
    	<argument>$RECORDER</argument> 
    </application-desc> 
</jnlp> 
