<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<contextName>${current_openmeetings_context_name}</contextName>
	
	<jmxConfigurator contextName="${current_openmeetings_context_name}" />

  <appender name="FLOG2" class="ch.qos.logback.core.FileAppender">
		<File>log/${current_openmeetings_context_name}.log</File>
		<Append>false</Append>
		<Encoding>UTF-8</Encoding>
		<BufferedIO>false</BufferedIO>
		<ImmediateFlush>true</ImmediateFlush>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%5p %d{MM-dd HH:mm:ss.SSS } %F %r %L %c [%t] - %m%n
			</Pattern>
		</layout>
  </appender>
  <appender name="CONSOLE2" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%5p %d{MM-dd HH:mm:ss.SSS } %F %r %L %c [%t] - %m%n</pattern>
    </layout>
  </appender>
  <logger name="org.apache.axis2">
    <level value="ERROR"/>
  </logger>
  <logger name="com.mchange.v2">
    <level value="ERROR"/>
  </logger>
  <logger name="org.apache.axiom">
    <level value="ERROR"/>
  </logger>
  <logger name="org.apache.commons.httpclient">
    <level value="ERROR"/>
  </logger>
  <logger name="de.hunsicker.jalopy.io">
    <level value="ERROR"/>
  </logger>
  <logger name="org.apache.axis2.enterprise">
    <level value="ERROR"/>
  </logger>
  <logger name="httpclient.wire.header">
    <level value="ERROR"/>
  </logger>
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="FLOG2"/>
    <appender-ref ref="CONSOLE2"/>
  </root>
</configuration>
