#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
# 
#     http://www.apache.org/licenses/LICENSE-2.0
#         
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
# 
#ConfigurationFile for LDAP Auth
#ConfigKey 'ldap_config_path' must be set in DataBase Configration of OM and point to this file
#o.becherer,14.01.2009

#specify the LDAP Server type
ldap_server_type=OpenLDAP

#LDAP URL
ldap_conn_url=ldap://dc2.medint.local:389

#Login distinguished name (DN) for Authentification on LDAP Server - keep emtpy if not requiered
ldap_admin_dn=CN:dummy,OU:external users,OU:Other,DC:medint,DC:local

#Loginpass for Authentification on LDAP Server - keep emtpy if not requiered
ldap_passwd=dummy07

#base to search for userdata(of user, that wants to login
ldap_search_base=OU:Company,DC:medint,DC:local

# Fieldnames (can differ between Ldap servers) 
field_user_principal=uid

# Ldap auth type(SIMPLE,NONE)
ldap_auth_type=SIMPLE

# Ldap ignore upper/lower case, convert all input to lower case
ldap_use_lower_case=false

# optional
# the timezone has to mach an entry in the OpenMeetings table "omtimezones" otherwise the user will get
# the timezone defined in the value of the conf_key "default.timezone" in OpenMeetings "configurations" table
#ldap_user_timezone=timezone
