/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License") +  you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
#topLinks {
	position: absolute;
	top: 10px;
	right: 10px;
}

#topLinks span {
	padding-right: 5px;
	padding-left: 5px;
	border-right: 1px solid black;
}

#topLinks span:last-child {
	border-right: none;
}

#menu {
	background-color: #BDC0DB;
	margin-top: 10px;
}

#busy_indicator {
	display: none;
	float: right;
	background: rgb(255, 241, 168);
	margin-top: 5px;
	z-index: 1000;
	width: 200;
	font-weight: bold;
	text-align: center;
	font-size: 1em;
}

.adminPanel {
	table-layout: fixed;
	width: 100%;
}

#chat {
	position: fixed;
	z-index: 2000;
	bottom: 0px;
	right: 100px;
}

.adminPanelColumnTable {

}

table.adminListTable {
	overflow: hidden;
	max-width: 536px;
	min-width: 536px;
}

table.adminListTable th {
	background: #BDC0DB;
	color: #ffffff;
}

/**/
table.adminListTable td.column1 {
	width: 36px;
}
table.adminListTable td.column2 {
	width: 150px;
}
table.adminListTable td.column3 {
	width: 350px;
}

table.adminListTable td div.divcolumn1 {
	word-wrap: break-word;
	width: 36px;
}
table.adminListTable td div.divcolumn2 {
	word-wrap: break-word;
	width: 150px;
}
table.adminListTable td div.divcolumn3 {
	word-wrap: break-word;
	width: 330px;
}

table.adminListTable tr.even {
	background-color: #ffebcd;
}

table.adminListTable tr.odd {
	background-color: #ffffff;
}

.adminPanelColumnForm {
	vertical-align: top;
}

.adminForm {
	
}

.clickable {
	cursor: pointer;
}

.adminForm select {
	width: 200px;
}
