<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Incubator Directory</title>
    <link rel="STYLESHEET" type="text/css" href="../../../docs/includes/styles.css">
  </head>
  <body>
<!-- * X_LZ_COPYRIGHT_BEGIN ***************************************************
* Copyright 2001-2006, 2009 Laszlo Systems, Inc.  All Rights Reserved.              *
* Use is subject to license terms.                                            *
* X_LZ_COPYRIGHT_END ****************************************************** -->
<!-- @LZX_VERSION@                                                         -->

    <h1>OpenLaszlo Incubator Directory</h1>
    <p>The Incubator directory contains components and other code that have been contributed to the OpenLaszlo project, but have not yet been fully integrated into the product.  It is intended as an easy way to contribute code that doesn't have the level of documentation, testing, or API review that is required in other directories, or that is simply contributed too late in the release cycle to place elsewhere.</p>
    
    <h2>Components</h2>
    <dl>
      <dt><code>autocompletecombobox</code></dt>
      <dd>Combobox with autocomplete. Contributed by Daniel Kim.</dd>
      
      <dt><code>base64.lzx</code></dt>
      <dd>Base 64 encoder/decoder created by Brendan Fagan.</dd>

      <dt><code>basecheckbox.lzx</code></dt>
      <dd>Base class for a component representing a boolean value. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
      
      <dt><code>baseedittext.lzx</code></dt>
      <dd>This component provides the look and feel for user editable text, data binding, and focus events. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
      
      <dt><code>baseradio.lzx</code></dt>
      <dd>Base class for a single radio button. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
      
      <dt><code>baseslider.lzx</code></dt>
      <dd>Modifications to baseslider to support floating point. By Mark Davis at Laszlo Systems, Inc.</dd>

      <dt><code>bigcheckbox.lzx</code></dt>
      <dd>Checkbox using large resources. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>

      <dt><code>boxview.lzx</code></dt>
      <dd>View with customizable border. Contributed by  Brad Erickson.</dd>
      
      <dt><code>checkbox.lzx</code></dt>
      <dd>Smaller checkbox. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
      
      <dt><code>closebox.lzx</code></dt>
      <dd>No special behavior, just a button that looks like a closebox. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
      
      <dt><code>colorpicker.lzx</code></dt>
      <dd>Color selection tool created by Henry Minsky at Laszlo Systems, Inc.</dd>

      <dt><code>defaultlistitem.lzx</code></dt>
      <dd>Item type for a simpledefaultlist. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
      
      <dt><code>domapi.js</code></dt>
      <dd>A collection of compatability functions to bring LZX closer to
        the W3 DOM API bindings for ECMAScript. Created by Oliver Steele of Laszlo Systems, Inc.</dd>

      <dt><code>draglib.lzx</code></dt>
      <dd>Drag and drop library created by Sarah Allen at Laszlo Systems, Inc.<br><code>draglib-test.lzx</code> can be found in the <code>test</code> subdirectory.</dd>

      <dt><code>fisheye_lib.lzx</code></dt>
      <dd>A fisheye component, contributed by Daniel Kim.</dd>
      <dt><code>formlayout.lzx</code></dt>
      <dd>A layout used to arrange title-control pairs as might appear in a form. Contributed by Togawa Manabu at Laszlo-Japan.</dd>
      
      <dt><code>gradientview.lzx</code></dt>
      <dd>A gradientview component created by Brendan Fagan. The
      test file <code>gradientview-test.lzx</code> can be found in the
      <code>test</code> subdirectory.</dd>

      <dt><code>hsplitpane</code></dt>
      <dd>Horizontal split pane. Contributed by Daniel Kim.</dd>
      
      <dt><code>hscrollbar.lzx</code></dt>
      <dd>Horizontal scrollbar with a different look. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>

      <dt><code>icontab.lzx</code></dt>
      <dd>Nice-looking tab with an icon and a text label. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
      
      <dt><code>icontogglebutton.lzx</code></dt>
      <dd>Button, which toggles, which has only an icon, but no text. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
            <dt><code>imagemap</code></dt>
      <dd>Imagemap implementation</dd>


      <dt><code>inspector</code></dt>
      <dd>The "inspector" will let you visually inspect the view (or node) hierarchy.  Click on a view to see its subviews. Submitted by Sarah Allan at Laszlo Systems, Inc.</dd>
      
      <dt><code>labeledinputtext.lzx</code></dt>
      <dd>Horizontal container for a right-aligned label and text field. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
      
      <dt><code>lwzCalendar.lzx</code></dt>
      <dd>An English calendar component, from lwz7512.</dd>
      
      <dt><code>lzcombobox.lzx</code></dt>
      <dd>Subclass of newcombobox with a visual appearance. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
      
      <dt><code>lzeditcombobox.lzx</code></dt>
      <dd>Like lzcombobox, but editable. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
      
      <dt><code>lzedittext.lzx</code></dt>
      <dd>Inputtext with edges. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
      
      <dt><code>lzradio.lzx</code></dt>
      <dd>Subclass of radiobutton with matching appearance to the other incubator lz components. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
      
      <dt><code>minibutton.lzx</code></dt>
      <dd>stylishbutton subclass with specialized resources to be smaller than a usual button. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
      
      <dt><code>newcombobox.lzx</code></dt>
      <dd>Alternate prototype combobox component; requires two include
      files. Contributed by Laszlo Systems, Inc.<br><code>newcombobox-test.lzx</code> can be found
      in the <code>test</code> subdirectory.</dd>

      <dt><code>opttree/opttree.lzx</code></dt>
      <dd>An optimized implementation of tree, contributed by Adam Wolff of Laszlo Systems, Inc.</dd>
      
      <dt><code>radioitem.lzx</code></dt>
      <dd>A selectable list item which works like a radio button except it uses  an icon instead of radio button graphics. . Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>
      
      <dt><code>rich-text</code></dt>
      <dd>A rich text editor, and various support components. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>

      <dt><code>roundrect.lzx</code></dt>
      <dd>Round rectangle component with optional gradient, created by Oliver Steele of Laszlo Systems, Inc.<br><code>roundrect-test.lzx</code> can be found in the <code>test</code> subdirectory.</dd>

      <dt><code>roundrectbutton.lzx</code></dt>
      <dd>Round rectangle button without art assets (so programmers can make roundrect buttons that look three-dish without a designer in the loo) created by Benjamin Shine of Laszlo Systems, Inc.<br><code>test-roundrectbutton.lzx</code> can be found in the <code>test</code> subdirectory.</dd>

      <dt><code>scrollinputtext.lzx</code></dt>
      <dd>Scrolling input text filed created by Max Carlson
      and Sarah Allen at Laszlo Systems, Inc.<br>Enhanced by
      Geert Bevin and Brendan Fagan of the Laszlo forums &mdash;
      thanks guys!<br>scrollinputtext-test.lzx</code> can be found in the
      <code>test</code> subdirectory.</dd>
      
      <dt><code>stepper.lzx</code></dt>
      <dd>Numeric stepper component created by Jeff Freedman.<br><code>stepper-test.lzx</code> can be found in the <code>test</code> subdirectory.</dd>

      <dt><code>stylishbutton.lzx</code></dt>
      <dd>A button which can be capsule-shaped or rectangular. Contributed by Benjamin Shine and the rest of the Laszlo Mail team at Laszlo Systems.</dd>
      
      <dt><code>tooltipmanager.lzx</code></dt>
      <dd>Provides support for tool tips, created by Krosscore, Inc. Modifications and improvements by Daniel Kim.<br><code>tooltipmanager-test.lzx</code> can be found in the <code>test</code> subdirectory.</dd>

      <dt><code>ulink.lzx</code></dt>
      <dd>A text link that is decorated with an underline when hovered.  The color, hover color, and hover decoration can be customized, and all attributes can be data bound. Created by Oliver Steele of Laszlo Systems, Inc.</dd>

      <dt><code>validators</code></dt>
      <dd>Utilities for incrementally validating form entry values. Contributed by Togawa Manabu at Laszlo-Japan. See <a href="http://laszlo.jp/wiki/index.php?CustomComponents#content_1_2">laszlo.jp</a> for updates. Timevalidator contributed by Luca Ritossa.</dd>

      <dt><code>vscrollbar.lzx</code></dt>
      <dd>Vertical scrollbar with a different look. Contributed by the Laszlo Mail team at Laszlo Systems, Inc.</dd>

      <dt><code>vslider.lzx</code></dt>
      <dd>Vertical slider contributed by Sebastian Wagner.</dd>
    </dl>
    <h2>Other Software</h2>
    <dl>
      <dt><code><a href="deploy/solo-deploy.jsp">SOLO Deployment Wizard JSP</a> </code></dt>
      <dd>Created by Henry Minsky (hminsky@laszlosystems.com) 

  </body>
</html>
