<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
    	  
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
  
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.5-strict.dtd" lang="en">
	<wicket:panel>
		<table>
			<tr>
				<td>
					<span wicket:id="navigator">[dataview navigator]</span>
					<table>
						<tr>
							<th><wicket:ommessage key="146" /></th>
							<th><wicket:ommessage key="147" /></th>
							<th><wicket:ommessage key="148" /></th>
							<th><wicket:ommessage key="149" /></th>
						</tr>			
			    		<tr wicket:id="userList">
							<td><span wicket:id="userId"></span></td>
							<td><span wicket:id="login"></span></td>
							<td><span wicket:id="firstName"></span></td>
							<td><span wicket:id="lastName"></span></td>
						</tr>
					</table>
				</td>
				<td>
					<span wicket:id="selected"></span>
					<br/>
					<form wicket:id="form">
			            <wicket:ommessage key="132" />: <input type="text" wicket:id="login"/>
			            <br/>
			            <wicket:ommessage key="133" />: <input type="password" />
			            <br/>
			            <wicket:ommessage key="135" />: <select wicket:id="salutations"/> <input type="text" wicket:id="firstname"/>
			            <br/>
			            <wicket:ommessage key="136" />: <input type="text" wicket:id="lastname"/>
			            <br/>
			            <wicket:ommessage key="1143" />: <select wicket:id="omTimeZone"/>
			            <br/>
			            <wicket:ommessage key="111" />: <select wicket:id="language"/>
			            <br/>
			            <wicket:ommessage key="1149" />
			            <br/>
			             <wicket:ommessage key="1148" />: <input type="checkbox" wicket:id="forceTimeZoneCheck" />
			            <br/>
			            <wicket:ommessage key="137" />: <input type="text" wicket:id="adresses.email"/>
			            <br/>
			            <wicket:ommessage key="607" />: <input type="text" wicket:id="adresses.phone"/>
			            <br/>
			            <wicket:ommessage key="1503" />: <input type="checkbox" wicket:id="sendSMS"/>
			            <br/>
			            <wicket:ommessage key="138" />: <input type="text" wicket:id="age"/>
			            <br/>
			            <br/>
			            <input type="submit" value="submit via ajax" wicket:id="ajax-button"/>
			        </form>
				</td>
			</tr>
		</table>
	</wicket:panel>
</html>
