<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Red5  War</display-name>
  <context-param>
    <param-name>globalScope</param-name>
    <param-value>default</param-value>
  </context-param>
  <context-param>
    <param-name>parentContextKey</param-name>
    <param-value>default.context</param-value>
  </context-param>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>ROOT</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/*-web.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.red5.server.war.WarLoaderServlet</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>gateway</servlet-name>
    <servlet-class>org.red5.server.net.servlet.AMFGatewayServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>rtmpt</servlet-name>
    <servlet-class>org.red5.server.net.rtmpt.RTMPTServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>gateway</servlet-name>
    <url-pattern>/gateway</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>rtmpt</servlet-name>
    <url-pattern>/fcs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>rtmpt</servlet-name>
    <url-pattern>/open/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>rtmpt</servlet-name>
    <url-pattern>/idle/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>rtmpt</servlet-name>
    <url-pattern>/send/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>rtmpt</servlet-name>
    <url-pattern>/close/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DownloadHandler</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.DownloadHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Install</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.Install</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadHandler</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.UploadHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileExplorerUploadHandler</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.FileExplorerUploadHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScreenServlet</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.ScreenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RtpSharerServlet</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.RTPSharerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RTPMethodServlet</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.RTPMethodServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScreenViewHandler</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.ScreenViewHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScreenRequestHandler</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.ScreenRequestHandler</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LangExport</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.LangExport</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Export</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.Export</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Import</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.Import</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportToImage</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.ExportToImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActivateUser</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.ActivateUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServerUDP</servlet-name>
    <servlet-class>org.openmeetings.server.servlets.ServerOutputHandler</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>Calendar</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.CalendarServlet</servlet-class>
  </servlet>
  <servlet>
    <description>MethodGateway</description>
    <display-name>MethodGateway</display-name>
    <servlet-name>MethodGateway</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.MethodGateway</servlet-class>
  </servlet>
  <servlet>
    <description>DefaultIndex</description>
    <display-name>DefaultIndex</display-name>
    <servlet-name>DefaultIndex</servlet-name>
    <servlet-class>org.openmeetings.servlet.outputhandler.DefaultIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadHandler</servlet-name>
    <url-pattern>/DownloadHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Install</servlet-name>
    <url-pattern>/Install</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Install</servlet-name>
    <url-pattern>/install</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadHandler</servlet-name>
    <url-pattern>/UploadHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileExplorerUploadHandler</servlet-name>
    <url-pattern>/FileExplorerUploadHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScreenServlet</servlet-name>
    <url-pattern>/ScreenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RtpSharerServlet</servlet-name>
    <url-pattern>/RtpSharerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RTPMethodServlet</servlet-name>
    <url-pattern>/RTPMethodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScreenViewHandler</servlet-name>
    <url-pattern>/ScreenViewHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScreenRequestHandler</servlet-name>
    <url-pattern>/ScreenRequestHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LangExport</servlet-name>
    <url-pattern>/LangExport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Export</servlet-name>
    <url-pattern>/Export</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Import</servlet-name>
    <url-pattern>/Import</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportToImage</servlet-name>
    <url-pattern>/ExportToImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivateUser</servlet-name>
    <url-pattern>/activateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServerUDP</servlet-name>
    <url-pattern>/serverUDP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Calendar</servlet-name>
    <url-pattern>/Calendar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MethodGateway</servlet-name>
    <url-pattern>/MethodGateway</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DefaultIndex</servlet-name>
    <url-pattern>/sipindex.html</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>inc</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Forbidden</web-resource-name>
      <url-pattern>/WEB-INF/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Forbidden</web-resource-name>
      <url-pattern>/streams/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Forbidden</web-resource-name>
      <url-pattern>/conf/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Forbidden</web-resource-name>
      <url-pattern>/upload/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Forbidden</web-resource-name>
      <url-pattern>/uploadtemp/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Forbidden</web-resource-name>
      <url-pattern>/jod/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Forbidden</web-resource-name>
      <url-pattern>/persistence/*</url-pattern>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <servlet>
    <servlet-name>LPS</servlet-name>
    <servlet-class>org.openlaszlo.servlets.LZServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LZViewer</servlet-name>
    <servlet-class>org.openlaszlo.servlets.LZViewer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LPS</servlet-name>
    <url-pattern>*.lzx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LPS</servlet-name>
    <url-pattern>*.lzo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LZViewer</servlet-name>
    <url-pattern>/LZViewer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/AuthenticationServlet</url-pattern>
  </servlet-mapping>
</web-app>