##############################################
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##############################################

# /etc/systemd/system/openmeetings.service
# sudo systemctl daemon-reload
# sudo systemctl enable openmeetings
# sudo systemctl restart openmeetings

[Unit]
Description=Apache OpenMeetings server
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
Environment=CATALINA_PID=/var/run/openmeetings.pid
WorkingDirectory=/opt/openmeetings
Environment=CATALINA_HOME=/opt/openmeetings
Environment=CATALINA_BASE=/opt/openmeetings
Environment='JDK_JAVA_OPTIONS=--add-modules java.se --add-exports java.base/jdk.internal.ref=ALL-UNNAMED --add-opens java.base/java.lang=ALL-UNNAMED --add-opens java.base/java.nio=ALL-UNNAMED --add-opens java.base/sun.nio.ch=ALL-UNNAMED --add-opens java.management/sun.management=ALL-UNNAMED --add-opens jdk.management/com.sun.management.internal=ALL-UNNAMED -XX:+DisableAttachMechanism'
Environment='CATALINA_OPTS=-Xms1G -Xmx4G -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom -Dopenjpa.serialization.class.blacklist=* -Dopenjpa.serialization.class.whitelist=[B,java.util,org.apache.openjpa,org.apache.openmeetings.db.entity'

ExecStart=/opt/openmeetings/bin/startup.sh
ExecStop=/opt/openmeetings/bin/shutdown.sh

User=nobody
Group=nogroup
UMask=0007
RestartSec=10
Restart=always

TasksMax=infinity

[Install]
WantedBy=multi-user.target
