#!/bin/bash
##############################################
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##############################################

### BEGIN INIT INFO
# Provides: OpenMeetings
# Required-Start: $network
# Required-Stop: $network
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Start/Stop OpenMeetings server
### END INIT INFO

DESC="OpenMeetings server"
NAME=openmeetings
OM_HOME=/opt/openmeetings
PATH=/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
export CATALINA_PID=/var/run/${NAME}.pid

start() {
	cd ${OM_HOME}
	touch ${CATALINA_PID}
	chown nobody ${CATALINA_PID}
	# HOME is required for jodConverter
	/usr/bin/sudo -u nobody CATALINA_PID=${CATALINA_PID} ${OM_HOME}/bin/startup.sh
}

stop() {
	# TPID=$(ps aux | grep tomcat | awk 'NR==1{print $2}') # -- might be useful
	TPID=$(cat ${CATALINA_PID})
	kill -9 ${TPID}
}

case "$1" in
	start)
		echo -n "Starting $DESC: $NAME"
		start
		echo "."
	;;
	stop)
		echo -n "Stopping $DESC: $NAME"
		stop
		echo "."
	;;

	restart|force-reload)
		echo -n "Restarting $DESC: $NAME"
		stop
		sleep 5
		start
		echo "."
	;;

	*)
		echo "Usage: $SCRIPTNAME {start|stop|restart|force-reload}" >&2
		exit 1
	;;

esac
