<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
    	  
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
  
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.5-strict.dtd" lang="en">
	<wicket:panel>
		<table class="adminPanel">
			<tr>
				<td class="adminPanelColumnTable">
					<span wicket:id="navigator">[dataview navigator]</span>
					<table class="adminListTable">
						<thead>
							<tr>
								<th class="three_column_layout_column1"><wicket:ommessage key="188" /></th>
								<th class="three_column_layout_column2"><wicket:ommessage key="189" /></th>
								<th class="three_column_layout_column3"><wicket:ommessage key="190" /></th>
							</tr>	
						</thead>
					</table>
					<div class="tableWrapper">
						<table class="adminListTable">
							<tbody wicket:id="listContainer">		
					    		<tr wicket:id="roomList">
									<td class="three_column_layout_column1"><div class="three_column_layout_divcolumn1"><span wicket:id="rooms_id"></span></div></td>
									<td class="three_column_layout_column2"><div class="three_column_layout_divcolumn2"><span wicket:id="name"></span></div></td>
									<td class="three_column_layout_column3"><div class="three_column_layout_divcolumn3"><span wicket:id="ispublic"></span></div></td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
				<td class="adminPanelColumnForm">
					<form wicket:id="form" class="adminForm">
						<div wicket:id="buttons"></div>
						
						 <!-- General -->
						<fieldset>
							<legend><wicket:ommessage key="187" /></legend>
							<wicket:ommessage key="193" /> <input type="text" wicket:id="name" />
							<br/>
							<wicket:ommessage key="482" /> <select wicket:id="numberOfPartizipants"/>
				            <br/>
				            <wicket:ommessage key="194" /> <select wicket:id="roomtype"/>
				            <br/>
				            <wicket:ommessage key="196" /> <textarea style="width: 200px; height: 100px;" wicket:id="comment"/>
				            <br/>
				            <wicket:ommessage key="620" /> <input type="checkbox" wicket:id="appointment" />
				        </fieldset>
				        
				        <!-- Organisations -->
						<fieldset>
							<legend><wicket:ommessage key="191" /></legend>
				            <wicket:ommessage key="195" /> <input type="checkbox" wicket:id="ispublic" />
				            <br/>
				            <wicket:ommessage key="828" />
				            <br/>
				            <wicket:ommessage key="191" />
				            <br/>
				            <wicket:ommessage key="191" /> <select wicket:id="roomOrganisations"/>
				        </fieldset>
				        
				        <!-- Limitations -->
						<fieldset>
							<legend><wicket:ommessage key="830" /></legend>
				            <wicket:ommessage key="636" /> <input type="checkbox" wicket:id="isDemoRoom" />
				            <br/>
				            <wicket:ommessage key="637" /><input type="text" wicket:id="demoTime" />
						</fieldset>
						
						<!-- Rights -->
						<fieldset>
							<legend><wicket:ommessage key="881" /></legend>
				            <wicket:ommessage key="879" /> <input type="checkbox" wicket:id="allowUserQuestions" />
				            <br/>
				            <wicket:ommessage key="880" />
				            <br/>
				            <wicket:ommessage key="1076" /> <input type="checkbox" wicket:id="isAudioOnly" />
				            <br/>
				            <wicket:ommessage key="1077" />
				            <br/>
				            <wicket:ommessage key="1101" />
				            <br/>
				            <wicket:ommessage key="1076" /> <input type="checkbox" wicket:id="isClosed" />
				            <br/>
				            <wicket:ommessage key="1100" /><input type="text" wicket:id="redirectURL" />
							<br/>
							<wicket:ommessage key="1102" />
				            <br/>
				            <wicket:ommessage key="1076" /> <input type="checkbox" wicket:id="waitForRecording" />
				            <br/>
				            <wicket:ommessage key="1076" /> <input type="checkbox" wicket:id="allowRecording" />
				            <br/>
						</fieldset>
						
						<!-- Room Layout options -->
						<fieldset>
							<legend><wicket:ommessage key="1443" /></legend>
							<wicket:ommessage key="1357" /> <input type="checkbox" wicket:id="hideTopBar" />
				            <br/>
				            <wicket:ommessage key="1436" /> <input type="checkbox" wicket:id="hideChat" />
				            <br/>
				            <wicket:ommessage key="1437" /> <input type="checkbox" wicket:id="hideActivitiesAndActions" />
				            <br/>
				            <wicket:ommessage key="1438" /> <input type="checkbox" wicket:id="hideFilesExplorer" />
				            <br/>
				            <wicket:ommessage key="1439" /> <input type="checkbox" wicket:id="hideActionsMenu" />
				            <br/>
				            <wicket:ommessage key="1440" /> <input type="checkbox" wicket:id="hideScreenSharing" />
				            <br/>
				            <wicket:ommessage key="1441" /> <input type="checkbox" wicket:id="hideWhiteboard" />
				            <br/>
				            <wicket:ommessage key="1442" /> <input type="checkbox" wicket:id="showMicrophoneStatus" />
				            <br/>
				            <wicket:ommessage key="1513" /> <input type="checkbox" wicket:id="chatModerated" />
				            <br/>
				            <!-- 
				            <wicket:ommessage key="587" /> <select wicket:id="moderators"/>
				            <br/>
				             -->
				            
						</fieldset>
						
					</form>
				</td>
			</tr>
		</table>
	</wicket:panel>
</html>
