/*
////////////////////////////////////////////////////////////////////////////////
//
//  ADOBE SYSTEMS INCORPORATED
//  Copyright 2008 Adobe Systems Incorporated
//  All Rights Reserved.
//
//  NOTICE: Adobe permits you to use, modify, and distribute this file
//  in accordance with the terms of the license agreement accompanying it.
//
////////////////////////////////////////////////////////////////////////////////
*/

@namespace "library://ns.adobe.com/flex/spark";

/* Default Skins */

Application
{
    skinClass: ClassReference("spark.skins.default.ApplicationSkin");
}

Button
{
    skinClass: ClassReference("spark.skins.default.ButtonSkin");
}

Button.emphasized
{
    skinClass: ClassReference("spark.skins.default.DefaultButtonSkin");
}

ButtonBar
{
    skinClass: ClassReference("spark.skins.default.ButtonBarSkin");
}

CheckBox
{
    skinClass: ClassReference("spark.skins.default.CheckBoxSkin");
}

DropDownList
{
    skinClass: ClassReference("spark.skins.default.DropDownListSkin");
}

SkinnableComponent
{
    errorSkin: ClassReference("spark.skins.default.ErrorSkin");
    focusSkin: ClassReference("spark.skins.default.FocusSkin");
}

SkinnableContainer
{
    skinClass: ClassReference("spark.skins.default.SkinnableContainerSkin");
}

SkinnableDataContainer
{
	skinClass: ClassReference("spark.skins.default.SkinnableDataContainerSkin");
}

HScrollBar
{
    skinClass: ClassReference("spark.skins.default.HScrollBarSkin");
}

HSlider
{
    skinClass: ClassReference("spark.skins.default.HSliderSkin");
}

List
{
	skinClass: ClassReference("spark.skins.default.ListSkin");
}

NumericStepper
{
    skinClass: ClassReference("spark.skins.default.NumericStepperSkin");
}

Panel
{
	skinClass: ClassReference("spark.skins.default.PanelSkin");
}

RadioButton
{
	skinClass: ClassReference("spark.skins.default.RadioButtonSkin");
}

Scroller
{
    skinClass: ClassReference("spark.skins.default.ScrollerSkin");
}

Spinner
{
    skinClass: ClassReference("spark.skins.default.SpinnerSkin");    
}

TextArea
{
	skinClass: ClassReference("spark.skins.default.TextAreaSkin");
}

TextInput
{
	skinClass: ClassReference("spark.skins.default.TextInputSkin");
}

ToggleButton
{
	skinClass: ClassReference("spark.skins.default.ToggleButtonSkin");
}

VideoPlayer
{
    skinClass: ClassReference("spark.skins.default.VideoPlayerSkin");
}

VideoPlayerScrubBar
{
    skinClass: ClassReference("spark.skins.default.VideoPlayerScrubBarSkin");
}

VideoPlayerVolumeBar
{
    skinClass: ClassReference("spark.skins.default.VideoPlayerVolumeBarSkin");
}

VideoPlayerVolumeBarMuteButton
{
    skinClass: ClassReference("spark.skins.default.VideoPlayerVolumeBarMuteButtonSkin");
}

VScrollBar
{
    skinClass: ClassReference("spark.skins.default.VScrollBarSkin");
}

VSlider
{
    skinClass: ClassReference("spark.skins.default.VSliderSkin");
}

global
{
    /* color: #000000; */
    baseColor: #CCCCCC;
    contentBackgroundColor: #FFFFFF;
    rollOverColor: #CEDBEF;
    selectionColor: #A8C6EE;
    focusColor: #70B2EE;
    symbolColor: #000000;
    slideDuration: 300;
}
